/* Container Whole Body */
.body11{
  margin: 0;
  background: black;
  font-family: 'Open Sans Condensed', sans-serif;
  color: ghostwhite;
  padding: 20px 280px;
}

.container11{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding: 25px;
    background: #eee;
    display: grid;
    grid-template-columns: 1fr;
    position: center;
}


 /* Parallex images */

.img-hello{
    padding-right: 50px;
    background-size: cover;
}

.parallax-window-art{
    height: 1000px;
    padding: 200px 35px;
    background: transparent no-repeat;
    background-size: cover;
}

.parallax-window-about{
    min-height: 50px;
    padding: 30px 35px;
    background-size: cover;
    background: transparent no-repeat fixed;
}

.profile1{
    padding: 50px 35px;
    background: transparent no-repeat;
    background-size: 0;
}

.info-about{
  z-index: 2;
  position: relative;
  color: black;
  text-align: right;
  background-size: cover;
  min-height: 400px;
  padding: 20px 195px 10px 900px;
}

.parallax-window-works{
    min-height: 300px;
    padding: 30px 35px;
    background: transparent no-repeat;
    background-size: cover;
}

/*
.parallax-window-works > #poem-title{
  z-index: 1;
  color: whitesmoke;
}

.parallax-window-about .profile-subtitle{
  font-size: large;
  background: transparent no-repeat;
  font-family: Cambria;
  object-position: right;
}
*/

/*Nav Styles*/

.header{
  padding: 20px;
  background: black;
  color: white;
  text-transform: uppercase;
}

.header h1{
  position: center;
  text-align: center;
  font-size: 45px;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 33px;
}

.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-wrapper > .right-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  color: black;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper > a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}


.active-nav-link{
  border-bottom: 1px solid black;
}

/*override the default colour*/

.active-nav-link a{
  color: black !important;
}

.nav-link-wrapper > .about{
  scroll-behavior: smooth;
}

.nav-wrapper-footer{
  display: flex;
  background-color: #222222;
  justify-content: space-between;
  padding: 20px;
}

.footer-left > .footer-link-wrap > a{
  color: whitesmoke;
  size: 50px;
}

.footer-right > .footer-link-wrap > a{
  color: whitesmoke;
  size: 50px;
}

/* Certificate */


/* Footer */
#footer{
  padding: 10px;
  color: whitesmoke;
  background: black;
  text-align: center;
}
