.container3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding: 25px;
    color: orange;
    background: whitesmoke;
    background-image: url("../img/Patriotism4.1.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    position: center;
}

.container3 .part2{
  color: darkgreen;
  position: center;
}

.poemtitle{
  color: whitesmoke;
  position: center;
}
/*Nav Styles*/

.header{
  padding: 20px;
  background-image: url("../img/india1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-transform: uppercase;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 33px;
}

.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-wrapper > .right-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #8a8a8a;
  border-bottom: 1px solid transparent;
  transition: color 0.5s;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper > a{
    color: ivory;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover{
    color: white;
}


.active-nav-link{
  border-bottom: 1px solid white;
}

/*override the default colour*/

.active-nav-link a{
  color: whitesmoke !important;
}

.nav-link-wrapper > .about{
  scroll-behavior: smooth;
}

.nav-wrapper-footer{
  display: flex;
  background-color: #222222;
  justify-content: space-between;
  padding: 20px;
}

.footer-left > .footer-link-wrap > a{
  color: whitesmoke;
  size: 50px;
}

.footer-right > .footer-link-wrap > a{
  color: whitesmoke;
  size: 50px;
}

/* Poem Images */


/* Footer */
#footer{
  padding: 10px;
  color: whitesmoke;
  background: black;
  text-align: center;
}
