/* Container Whole Body */

body{
  margin: 0 auto;
  font-family: Cambria, sans-serif;
  padding: 25px;
  background: snow;
  height: 2000px;
  width: 1000px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;
    background: #eee;
    display: grid;
    grid-template-columns: 1fr;
}
 /* Parallex images */
.parallax-window {
    min-height: 150px;
    padding: 100px 35px;
    background: transparent no-repeat;
    background-size: cover;
}

.parallax-window-about {
    min-height: 50px;
    padding: 30px 35px;
    background: transparent no-repeat;
    background-size: cover;
}

.profile{
    padding: 50px 35px;
    background: transparent no-repeat;
    background-size: 0;
}

.info-about{
  z-index: 2;
  position: relative;
  color: black;
  text-align: right;
  min-height: 300px;
  padding: 30px 35px;
}

.parallax-window-works {
    min-height: 300px;
    padding: 30px 35px;
    background: transparent no-repeat;
    background-size: cover;
}


/*
.parallax-window-about .profile-subtitle{
  font-size: large;
  background: transparent no-repeat;
  font-family: Cambria;
  object-position: right;
}
*/
/*Nav Styles*/

.header > div{
  padding: 20px;
  background: black;
  color: white;
  text-transform: uppercase;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-wrapper > .right-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper > .about{
  scroll-behavior: smooth;
}

/* Works */
.works-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.works-item-wrapper{
    position: relative;
}

.works-img-background{
    z-index: 2;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper .subtitle{
  z-index: 3;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  color: mintcream;
}

/* Footer */
#footer{
  padding: 8px;
  color: whitesmoke;
  background: black;
  text-align: center;

}
