/* Container Whole Body */
.body1{
  margin: 0;
  background: black;
  font-family: 'Open Sans Condensed', sans-serif;
  color: ghostwhite;
  padding: 20px 250px;
}

.container1{
    max-width: 1000px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding: 25px;
    background: #eee;
    display: grid;
    grid-template-columns: 1fr;
    position: center;
}
 /* Parallex images */

.img-hello{
    padding-right: 50px;
    background-size: cover;
    width: 1000px;
    object-fit: cover;
}

.parallax-window-art{
    height: 500px;
    padding: 100px 35px;
    background: transparent no-repeat;
    background-size: cover;
}

.parallax-window-about{
    min-height: 50px;
    padding: 30px 35px;
    background-size: cover;
    background: transparent no-repeat fixed;
}

.profile{
    padding: 50px 35px;
    background: transparent no-repeat;
    background-size: 0;
}

.info-about{
  z-index: 2;
  position: relative;
  color: black;
  text-align: right;
  background-size: cover;
  min-height: 400px;
  padding: 50px 39px 30px 460px;
}

.parallax-window-works{
    min-height: 300px;
    padding: 30px 35px;
    background: transparent no-repeat;
    background-size: cover;
}

/*
.parallax-window-works > #poem-title{
  z-index: 1;
  color: whitesmoke;
}

.parallax-window-about .profile-subtitle{
  font-size: large;
  background: transparent no-repeat;
  font-family: Cambria;
  object-position: right;
}
*/

/*Nav Styles*/

.header{
  padding: 20px;
  background: black;
  color: white;
  text-transform: uppercase;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 33px;
}

.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-wrapper > .right-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  color: black;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper > a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}


.active-nav-link{
  border-bottom: 1px solid black;
}

/*override the default colour*/

.active-nav-link a{
  color: black !important;
}

.nav-link-wrapper > .about{
  scroll-behavior: smooth;
}

.nav-wrapper-footer{
  display: flex;
  background-color: #222222;
  justify-content: space-between;
  padding: 20px;
}

.footer-left > .footer-link-wrap > a{
  color: whitesmoke;
  size: 50px;
}

.footer-right > .footer-link-wrap > a{
  color: whitesmoke;
  size: 50px;
}

/* Works */
.works-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.works-item-wrapper{
    position: relative;
}

.works-img-background{
    z-index: 2;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{

  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  color: mintcream;
}

.img-text-wrapper .subtitle{
  z-index: 3;
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle{
  z-index: 3;
  font-weight: 600;
  color: ghostwhite;
}

.img-text-wrapper .subtitle .WOTW{
  z-index: 3;
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle .WOTW{
  z-index: 3;
  font-weight: 600;
  color: ghostwhite;
  text-decoration: none;
}

/*Javascript Dynamically add and remove this on hovering*/
.img-darken{
  z-index: 3;
  transition: 1s;
  filter: brightness(10%);
}

/* Footer */
#footer{
  padding: 10px;
  color: whitesmoke;
  background: black;
  text-align: center;
}
